{% if step == "ask-question" %}
    <div class="grey-box container">
        <form method="POST" action="./feedback" id="feedback-form">
            <h3><label for="useful-answer">Did this answer your question?</label></h3>
            <p>
                <fieldset id="useful-answer">
                    <input type="submit" name="question-answered" class="grey-rounded-border" value="Yes">
                    <input type="submit" name="question-answered" class="grey-rounded-border" value="No">
                </fieldset>
            </p>
        </form>
    </div>
{% endif %}

{% if step == "question-answered" %}
    <div class="grey-box container">
        <p><em>Great! Thank you for your feedback.</em></p>
    </div>
{% endif %}

{% if step == "question-not-answered" %}
    <div class="grey-box container">
        <h3>Get a response from the HR Capability team</h3>
        <form method="POST" action="./feedback" id="ask-team-form">
            <p><label for="question-asked">Your question</label></p>
            <p><textarea id="question-asked" class="grey-rounded-border" name="question-asked">{{original_question_asked}}</textarea></p>

            <p><label for="email">Your work email</label></p>
            <p>The response from HR will be sent to you in an email.</p>
            <input type="text" name="email" id="email" size="30" class="grey-rounded-border">
            <p><input type="submit" class="grey-rounded-border" value="Send"></p>
        </form>
    </div>
{% endif %}

{% if step == "question-submitted" %}
    <div class="grey-box container">
        <h3>Your question has been sent to the HR Capability team</h3>
        <p>A response will be sent to your work email in 1-2 days. Your reference number is 000001.</p>
    </div>
{% endif %}
